body { 
    background-color: rgb(184, 181, 181);
    font-style: Georgia, Times New Roman, Times, serif;
    font-size: 14px;
    margin: 0px;
}

#header {
    background-color: rgb(235, 247, 245);
    height: 80px;
    margin: 0px;
}

#relative {
    width: 200px;
    height: 80px;
    margin: 0px 0px 0px 200px;
    background: teal;
    position: relative;
    text-align: center;
    color: white;
}

h1 {
    padding: 30px 10px 30px 10px;
    font-size: 24px;
}

h2 {
    color: teal;
    font-size: 24px;
}

hr {
    padding: 0px 30px 0px 30px;
}

#nav {
    margin: 0px 350px 0px 0px;
    float: right;
    font-style: Georgia, Times New Roman, Times, serif;
    font-size: 20px;   
}

.active {
    display: inline;
    float:left;
    padding: 30px 10px 30px 10px;
    margin: 0px 0px 30px 0px;
}

a {
    text-decoration: none;
    color: gray;
}

.main {
    background-color: #e5e4d9;
    margin: 20px 0px 20px 200px;
    width: 960px;
    padding: 10px 30px 0px 30px;
    
}

.main-bio {
    margin: 20px;
}
#bio-image {
    float: left;
    width: 200px;
    padding: 10px 30px 10px 0px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: gray;
}